references/
tex/distributed.pdf
tex/formopt.pdf
code/deprecated/
code/__pycache__/
site/
samo/Manuscript.pdf
fead/Manuscript.pdf
fead/doc/
*.lyx~
*.npz
*.npy
*.out
*.h5
*.xdmf
*.msh
*.pyc
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.gz
