references/
results/
tex/distributed.pdf
docs/installation.pdf
code/Tutorial.pdf
code/ParaView
code/deprecated/
code/__pycache__/
code/Links
code/mytest.py
*.lyx~
*.npz
*.npy
*.out
*.h5
*.xdmf
*.msh
*.pyc
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.gz
